#header {
  color: aqua;
  background: black;
}
#music {
  color: brown;
  background: yellow;}
.para {
  color: black;
  background: aquamarine;
}
#walk { 
  color: white;
  background: purple;
}
.paraa {
  color: black;
  background: lightgreen;
}
#craft {
  color: blue;
}
.paraaa {
  color: blueviolet
}









