*{font-weight: 200;
font-style: normal;
background-color: antiquewhite;}
#header {
  color: aqua;
  background: black;
  width: 50%;}
#music {
  color: brown;
  background: yellow;
width: 40%;}
.para {
  color: blue;}
#walk { 
  color: white;
  background: purple;
  width: 20%;}
.paraa {
  color: red;}
  #craft {
  color: blue;
  background-color: lightcoral;
  width: 30%;}
.paraaa {
  color: blueviolet;}
  #end{color: orange;}
  p{font-weight: 900;}









